* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.login-header h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.login-box p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f0f2f5;
    color: #000000;
    flex: 1;
    margin-right: 10px;
}

.search-btn {
    background-color: #000000;
    color: white;
    flex: 1;
}

.search-btn:hover {
    background-color: #000000;
}
@media (max-width: 500px) {
    .login-box {
        padding: 15px;
    }

    .btn-group {
        flex-direction: column;
    }

    .cancel-btn, .search-btn {
        margin-bottom: 10px;
    }

    .cancel-btn {
        margin-right: 0;
    }
}
